appdirs==1.4.4
beautifulsoup4==4.9.3
boto3==1.17.23
botocore==1.20.23
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cmake==3.18.4.post1
distlib==0.3.1
dlib==19.21.1
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.0.12
Flask==1.1.2
google==3.0.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.7.2
importlib-resources==5.1.2
imutils==0.5.4
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
MarkupSafe==1.1.1
MyApplication==0.1.0
numpy==1.19.5
opencv-python==4.5.1.48
packaging==20.9
pandas==0.25.3
Pillow==8.1.0
pipreqs==0.4.10
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
s3transfer==0.3.4
six==1.15.0
soupsieve==2.2
typing-extensions==3.7.4.3
urllib3==1.26.3
vendor==0.1
virtualenv==20.4.2
Werkzeug==1.0.1
yarg==0.1.9
zipp==3.4.1
